body {
  margin: 0px;
  padding: 0px;
  background-color: #1b1b18;
  color: #dbdbd6;
  font-family: "Raleway", sans-serif;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Poiret One", cursive;
}

.intro-section {
  min-height: 100vh;
}

div {
  margin: 0;
  padding: 0px;
}

footer {
  background-color: #1b1b18;
  height: 700px;
  text-align: center;
}

a {
  text-decoration: none;
  color: #dbdbd6;
}

i {
  margin: 10px;
}

strong {
  font-weight: 700;
  color: #996600;
  font-family: "Poiret One", cursive;
  font-size: 18px;
}

.intro-section {
  margin-top: 5px;
  background: #1b1b18;
}

.hello-banner {
  background-color: #1b1b18;
  text-align: center;
}

.bubble {
  height: 125px;
  width: 125px;
  border-radius: 50%;
  background-color: #996600;
  text-align: center;
  line-height: 125px;
  font-family: "Poiret One", cursive;
  font-size: 22px;
  transition: color 0.2s ease, background-color 0.2s ease-in;
}

.bubble:hover {
  background-color: #dbdbd6;
  color: #996600;
}

.about-section {
  background: #1b1b18;
}

.about-left {
  border-right: 1px solid gray;
}

.about-text {
  width: 60%;
  margin: 40px auto;
}

.headshot {
  width: 25%;
  margin: 30px auto;
  border-radius: 50%;
}

.skills {
  line-height: 30px;
  padding: 0px 10px;
  color: #dbdbd6;
  font-size: 14px;
  border-right: 1px solid #996600;
}

.skill {
  padding: 0px 10px;
  border-right: 1px solid #dbdbd6;
  color: #996600;
  font-family: "Poiret One", cursive;
}

.color-space {
  background-color: #1b1b18;
}

.habitrack {
  background-color: #1b1b18;
}

.project-links {
  font-family: "Poiret One", cursive;
  font-size: 18px;
  color: #996600;
  font-weight: 700;
}

.screen-shots {
  text-align: center;
  margin: 30px 0px;
}

.app-pic1 {
  width: 100%;
  margin: 10px;
}

.contact-section {
  background: gray;
  height: 500px;
}

.cards-1 {
  margin: 50px 0px;
  padding: 20px;
  background-color: #373737;
}

.cards-2 {
  margin: 50px 0px;
  padding: 20px;
  background-color: #373737;
}

.spacer {
  height: 20px;
  width: 100%;
}
